# Exclude data file types
*.xls
*.xlsx
*.xlsm
*.xlsb
*.csv
*.zip

### Windows specific stuff ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Exceptions
!ed_attendance_data_dummy.csv
!ed_attendance_data_dummy.zip
!d_Specialty.csv
